docutils
docx2txt
duckduckgo-search
email_validator
numpy<2.0.0
faiss-cpu
huggingface-hub
langchain
langchain-groq
langchain-huggingface
langchain-ollama
langchain-openai
langgraph
nltk
PyMuPDF
PyMySQL
PyPDF2
tavily-python
textblob
wikipedia
youtube-transcript-api
docling
openai
python-dotenv
ipykernel
jupyter
langchain-community
streamlit
transformers
requests
